.content-left .left-top {
  height: 290px;
}
.content-left .left-middle {
  height: 290px;
}
.content-left .left-bottom {
  height: 290px;
}
.content-center .center-top {
  height: 200px;
}
.content-center .center-middle {
  height: 700px;
  padding: 15px;
}
@media (max-width: 768px) {
  .content-center .center-middle {
    height: 300px;
  }
}
.content-right .right-top {
  padding: 20px 0 ;
}
.content-right .right-middle {
  height: 350px;
  padding: 15px;
}
.content-right .right-middle > img {
  width: 100%;
  height: 100%;
}
.content-right .right-bottom {
  height: 350px;
}
.center-bottom > .col-md-8 {
  padding-left: 0 ;
}
.center-bottom > .col-md-4 {
  padding-right: 0 ;
}
@media screen and (max-width: 992px) {
  .center-bottom > .col-md-8 {
    padding: 0 ;
  }
  .center-bottom > .col-md-4 {
    padding: 0 ;
  }
}
.showNum {
  font-style: oblique ;
  font-size: 30px;
  line-height: 80px;
  height: 80px;
}
@media (max-width: 768px) {
  .showNum {
    font-size: 20px;
  }
}
.highcharts-container {
  width: 100% !important;
}
.highcharts-root {
  width: 100% !important;
}
#wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  padding: 5px 10px;
}
#wrapper .checked {
  background: #cf0000;
}
#wrapper label {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50% !important;
  background: rgba(206, 206, 206, 0.44);
  cursor: pointer;
  vertical-align: middle;
}
#wrapper .checkedInput {
  font-weight: 700;
  color: white;
}
#wrapper input {
  background: transparent;
  color: silver ;
  border: none;
}
.security {
  padding-left: 50px;
}
.security > span {
  color: white;
}
.showSearch-box {
  max-height: 200px;
}
a[class^="view"] {
  background-color: #00bcd1;
}
a[class^="security-state"],
a[class^="view"] {
  padding: 2px 8px;
  border-radius: 2px;
  font-weight: 600;
}
a[class^="security-state"]:hover,
a[class^="view"]:hover {
  color: white;
}
a[class^="security-state"]:focus,
a[class^="view"]:focus {
  color: white;
}
.state-work {
  background-color: #409d51;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#189d0a), to(#63c463));
  background-image: -webkit-linear-gradient(top, #449d63, #63c463);
  background-image: -moz-linear-gradient(top, #449d63, #63c463);
  background-image: -o-linear-gradient(top, #449d63, #63c463);
  background-image: -ms-linear-gradient(top, #449d63, #63c463);
  background-image: linear-gradient(top, #449d63, #63c463);
}
.state-rest {
  background-color: #bf8c3b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bf8c3b), to(#e8a64e));
  background-image: -webkit-linear-gradient(top, #cc9442, #e8a64e);
  background-image: -moz-linear-gradient(top, #cc9442, #e8a64e);
  background-image: -o-linear-gradient(top, #cc9442, #e8a64e);
  background-image: -ms-linear-gradient(top, #cc9442, #e8a64e);
  background-image: linear-gradient(top, #cc9442, #e8a64e);
}
#alert_place {
  font-weight: 400 ;
}
.headspace {
  display: none;
}
@media (max-width: 768px) {
  .headspace {
    display: block;
  }
}
.right-top .page-title {
  font-size: 18px;
}
.set-numBox {
  position: relative;
}
#set_num {
  border-radius: 3px;
}
.myModal-body .input-error,
.myModal-body .input-empty {
  color: #a94442;
  margin: 5px 0;
}
.changeLabel {
  color: #ffd600;
  border-bottom: dashed 1px #ffd600;
}
.changeLabel {
  position: absolute;
  top: 22px;
  left: 86px;
  cursor: pointer;
}
.newNum {
  position: absolute;
  bottom: 0px  ;
  left: 5px;
  width: 100%;
  letter-spacing: 2px;
  padding-left: 50px;
  font-size: 12px;
  border-bottom: none;
}
.newNum > span {
  margin: 0 3px;
  color: #ffd600;
}
@media (max-width: 768px) {
  .changeLabel {
    position: absolute;
    top: 39px;
    left: 25px;
  }
  .newNum {
    padding-left: 0;
    text-align: center;
  }
}
