.diary-box {
  border-top: 4px solid #ffc314;
  margin: 0 15px  ;
  padding: 0;
}
.setting-num-box {
  height: 35px;
}
.setting-num-box .setting-title {
  display: inline-block;
  width: 20%;
  text-align: right;
  height: 100%;
  vertical-align: middle;
  line-height: 35px;
  font-weight: 600;
}
.setting-num-box .setting-number {
  height: 100%;
  display: inline-block;
  width: 70%;
  vertical-align: middle;
}
.setting-num-box .setting-number .setting-select {
  font-size: 14px;
  padding: 0;
  text-align: center;
  text-align-last: center;
  box-shadow: none;
}
.setting-num-box .setting-number .setting-select:focus {
  border: 1px solid #11f4ff;
}
.setting-num-box .setting-number > .form-group {
  height: 100%;
  vertical-align: middle;
}
.setting-num-box .setting-number > .form-group #datechoice {
  width: 100%;
  height: 100%;
  text-align: center;
  border: 1px solid #dee2e6;
  vertical-align: middle;
}
.setting-num-box .setting-number > .form-group #datechoice:focus {
  border: 1px solid #11f4ff;
}
.diary-line {
  margin: 15px 0 15px;
}
.diary-find-font {
  font-size: 14px;
  padding: 15px 0;
}
.diary-find-font > div {
  margin: 15px 0;
}
.diary-line .col-md-3 {
  height: 350px;
}
.diary-find-font > p {
  font-weight: 600;
  text-align: center;
}
/*日期*/
.data-input {
  padding: 0;
  width: 100%;
  border: none;
}
.data-input > input {
  border-radius: 4px !important;
}
.btn-box {
  width: 30%;
}
.find-box {
  padding: 0;
  margin: 0 15px ;
}
.find-box > .col-md-3 {
  padding: 15px;
  border-top: 4px solid rgba(16, 160, 88, 0.66);
}
.find-box > .col-md-9 {
  padding: 0;
}
.diary-detail {
  border-top: 4px solid #00aff0;
  margin-left: 70px;
}
@media all and (max-width: 768px) {
  .diary-detail {
    border-top: 4px solid #00aff0;
    margin-left: 0;
  }
}
.find-btn {
  font-size: 14px;
  color: white;
  padding: 3px 6px;
  margin-left: 2%;
}
