.Bb-modal {
    border-radius: 10px;
}
.Bb-modal {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.Bb-modal .modal-body {
    font-size: 14px;
}
.Bb-modal .modal-body .security-list tr {
    background: white ;
}
.Bb-modal .modal-header .modal-title {
    font-size: 20px;
    font-weight: normal ;
}
.Bb-modal .modal-header .close {
    padding: 0;
    margin: 0;
}
.Bb-modal-footer > nav {
    width: 100%;
}
.Bb-modal-footer .pager {
    margin: 25px 0;
    width: 100%;
    padding: 0;
    text-align: center;
}
.Bb-modal-footer .pager > li {
    display: inline-block;
}
.Bb-modal-footer .pager #pre,
.Bb-modal-footer .pager #next {
    font-size: 14px;
    padding: 5px 15px;
    border: 1px solid silver;
    cursor: pointer;
    color: #0a1a9d;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px ;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px ;
}
.Bb-modal-footer .pager #pre:hover,
.Bb-modal-footer .pager #next:hover {
    background: whitesmoke;
}
.send-message > button {
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
}
